

## PART I ---->

**AI:** Xin chào! Tôi là trợ lý AI. Hôm nay bạn cần hỗ trợ gì?  
**USER:** Hướng dẫn giặt áo sợi tre  
**AI:** Chào anh/chị,

Đối với áo sợi tre, bên em khuyến nghị anh/chị nên giặt ở nhiệt độ dưới 35 độ để giữ áo bền đẹp nhất ạ.

Nếu cần hỗ trợ thêm thông tin gì, anh/chị cứ hỏi nhé.

---
Detected intent: [ "DOCS" ]
Full Agent state: 
```json
{
  "input": "Hướng dẫn giặt áo sợi tre ",
  "intents": [
    "DOCS"
  ],
  "productQuery": "",
  "docsQuery": "Hướng dẫn giặt áo sợi tre",
  "docs": [
    {
      "title": "Hướng dẫn giặt áo hoodie",
      "content": "Giặt ở nhiệt độ dưới 30 độ"
    },
    {
      "title": "Hướng dẫn giặt áo sợi tre",
      "content": "Giặt ở nhiệt độ dưới 35 độ"
    },
    {
      "title": "Hướng dẫn giặt quần jean",
      "content": "Giặt ở nhiệt độ dưới 35 độ, giặt bằng tay với chất giặt có chất tẩy nhẹ"
    }
  ],
  "answer": "Chào anh/chị,\n\nĐối với áo sợi tre, bên em khuyến nghị anh/chị nên giặt ở nhiệt độ dưới 35 độ để giữ áo bền đẹp nhất ạ.\n\nNếu cần hỗ trợ thêm thông tin gì, anh/chị cứ hỏi nhé."
}
```

## PART II ------>
**AI:** Xin chào! Tôi là trợ lý AI. Hôm nay bạn cần hỗ trợ gì?
**USER:** Tìm iphone 16
**AI:** Chào anh/chị, bên em tìm thấy mẫu iPhone 16 Pro ạ. Sản phẩm này có giá 28.990.000đ. Anh/chị tham khảo sản phẩm này nhé!

---
Detected intent: [ "PRODUCT_SEARCH" ]
Full Agent state:
```json
{
  "input": "Tìm iphone 16",
  "intents": [
    "PRODUCT_SEARCH"
  ],
  "productQuery": "iphone 16",
  "docsQuery": "",
  "products": [
    {
      "id": "1",
      "name": "iPhone 16 Pro",
      "price": "28.990.000",
      "category": "Điện thoại"
    }
  ],
  "product": null,
  "answer": "Chào anh/chị, bên em tìm thấy mẫu iPhone 16 Pro ạ. Sản phẩm này có giá 28.990.000đ. Anh/chị tham khảo sản phẩm này nhé!"
}
```


